MAIL_HOST=mail.accretion.in
MAIL_PORT=465
MAIL_USERNAME=info@accretion.in
MAIL_PASSWORD=change-me
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@accretion.in
MAIL_FROM_NAME=Accretion Website
MAIL_TO=info@accretion.in,rahul@accretion.in